@import "semantic-ui";

html, body {
  height: 100%;
}

.main {
  background-color: #F3F3F3;
  min-height: 640px;
  min-width: 360px;
  padding-top: 50px;
}

.heading-wrapper {
  margin-top: 15px !important
}

#create-question {
  margin-bottom: 25px;
}
